:root {

  --black: #222;

  --gray: #7d7d7e;

  --primary-bg-color: #ffe6bf;

  --secondary-bg-color: #fff5e5;

  --yellow: #ffbf69;

  --green: #60c120;

  --red: #c1121f;

  --orange: #ff8000;

  --earthy: #b35a00;

  --darkbBlue: #3d5a80ff;

  --blue: #98c1d9ff;

}
